/****** Object:  Table [moody].[journal_entries_transactional]    Script Date: 6/16/2022 11:56:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [moody].[journal_entries_transactional](
	[Hierarchy Node] [varchar](max) NULL,
	[Line No.] [nvarchar](1) NULL,
	[Journal Type] [varchar](max) NULL,
	[Date] [date] NULL,
	[Accounting_Date] [date] NULL,
	[Portfolio] [varchar](max) NULL,
	[IFRS_17_Group] [varchar](max) NULL,
	[Group_Type] [varchar](max) NULL,
	[Valuation_Method] [varchar](max) NULL,
	[Modified_GMM] [bit] NULL,
	[Calculation_Step] [varchar](max) NULL,
	[Run_Description] [nvarchar](1) NULL,
	[Accounting_Policy] [nvarchar](1) NULL,
	[Onerosity_at_Opening] [nvarchar](1) NULL,
	[Onerosity_at_New_Business] [nvarchar](1) NULL,
	[Onerosity_at_the_Start_of_the_Analysis] [nvarchar](1) NULL,
	[Onerosity_at_the_End_of_the_Analysis] [nvarchar](1) NULL,
	[Variable] [nvarchar](1) NULL,
	[Definition_of_Variable] [nvarchar](1) NULL,
	[Account_Code] [int] NULL,
	[Account_Name] [nvarchar](1) NULL,
	[Transaction_Currency] [nvarchar](1) NULL,
	[Amount_in_Transaction_Currency] [float] NULL,
	[Functional_Currency] [varchar](max) NULL,
	[Amount_in_Functional_Currency] [float] NULL,
	[Debit_Credit] [nvarchar](1) NULL,
	[Underlying_IFRS_17_Group] [nvarchar](1) NULL,
	[Insurance_Product] [nvarchar](1) NULL,
	[Reinsurance_Held] [nvarchar](1) NULL,
	[VFA_Approach] [nvarchar](1) NULL,
	[Loss_Recovery_Component_Method] [nvarchar](1) NULL,
	[Country] [nvarchar](1) NULL,
	[Reinsurance_Type] [nvarchar](1) NULL,
	[Transition_Method] [nvarchar](1) NULL,
	[Cohort] [nvarchar](1) NULL,
	[Insurance_Contract_Type_at_Opening] [nvarchar](1) NULL,
	[Insurance_Contract_Type_at_Closing] [nvarchar](1) NULL,
	[Transaction_Number] [nvarchar](1) NULL,
	[Code_of_Posting_Rule] [nvarchar](1) NULL,
	[Master_Account_Type] [nvarchar](1) NULL,
	[Code_of_Master_Account] [nvarchar](1) NULL,
	[Section_of_Master_Account] [nvarchar](1) NULL,
	[Direct_RCH_of_Master_Account] [nvarchar](1) NULL,
	[Valuation_Method_of_Master_Account] [nvarchar](1) NULL,
	[Component_of_Master_Account] [nvarchar](1) NULL,
	[Sub_Component_of_Master_Account] [nvarchar](1) NULL,
	[LRC_LIC_and_Onerousness_of_Master_Account] [nvarchar](1) NULL,
	[Movement_of_Master_Account] [nvarchar](1) NULL,
	[Sub_Movement_1_of_Master_Account] [nvarchar](1) NULL,
	[Sub_Movement_2_of_Master_Account] [nvarchar](1) NULL,
	[Exportable] [nvarchar](1) NULL,
	[Custom_Dimension_1] [nvarchar](1) NULL,
	[Custom_Dimension_2] [nvarchar](1) NULL,
	[FCF_Component] [nvarchar](1) NULL,
	[Macro_Section_of_Master_Account] [nvarchar](1) NULL,
	[Insurance_Type_of_Master_Account] [nvarchar](1) NULL,
	[LRC_LIC_of_Master_Account] [nvarchar](1) NULL,
	[Section_Header_of_Master_Account] [nvarchar](1) NULL,
	[Subsection_of_Master_Account] [nvarchar](1) NULL,
	[Movement_Analysis_Flow_of_Master_Account] [nvarchar](1) NULL,
	[created_by] [nvarchar](255) NOT NULL,
	[created_date] [datetime2](7) NOT NULL,
	[last_updated_by] [nvarchar](255) NOT NULL,
	[last_updated_date] [datetime2](7) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
