/****** Object:  Table [raw].[gmm_ref_variable]    Script Date: 6/16/2022 11:56:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [raw].[gmm_ref_variable](
	[source] [nvarchar](100) NULL,
	[transaction_type] [nvarchar](1000) NULL,
	[ri_variable] [nvarchar](100) NULL,
	[created_by] [nvarchar](255) NOT NULL,
	[created_date] [datetime2](7) NOT NULL,
	[last_updated_by] [nvarchar](255) NOT NULL,
	[last_updated_date] [datetime2](7) NOT NULL
) ON [PRIMARY]
GO
